{% extends "school/base_one.html" %}
{% load static %}
{% load i18n allauth account %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}
{% block content %}

  <!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Сброс пароля</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
              <li class="breadcrumb-item active" aria-current="page">Сброс пароля</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
							<h3 style="margin-bottom: 35px"></h3>
						<form class="row login_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
    							{% element h1 %}
        							{% if token_fail %}
            							{% trans "Bad Token" %}
        							{% else %}
            							{% trans "Change Password" %}
        							{% endif %}
    							{% endelement %}
    							{% if token_fail %}
        							{% url 'account_reset_password' as passwd_reset_url %}
        							{% element p %}
            							{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        							{% endelement %}
    							{% else %}
        							{% element form method="post" action=action_url %}
            						{% slot body %}
                					{% csrf_token %}
                					{{ redirect_field }}
                					{% element fields form=form %}
                					{% endelement %}
            						{% endslot %}
            						{% slot actions %}
            						<div class="col-md-12 form-group p_star">
                    					<button tags="product_cart_button" type="submit" class="button cart_button_checkout">
                    						{% trans 'Change Password' %}
                    					</button>
									</div>
            						{% endslot %}
        							{% endelement %}
    							{% endif %}
    						</div>
    					</form>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock content %}
