{% extends 'school/base_one.html' %}
{% load static %}
{% load webp %}


{% block description %}Правила пребывания в ГБОУ "Вершина{% endblock %}

{% block title %}
Правила пребывания
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/blog_single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/blog_single_responsive.css' %}">

	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>{{ title }}</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
	          <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->



	<!-- Single Blog Post -->

	<div class="single_post">
		<div class="container">
			<div class="row">
				{% for d in view.stay_rules %}
				<div class="col-lg-8 offset-lg-2">
					<div class="single_post_text">
						<p>{% autoescape off %}{{ d.content }}{% endautoescape %}</p>
						{% if d.content2 %}	
						<div class="single_post_quote text-center">
							<div class="quote_image"><img src="{% static 'onetech/images/quote.png' %}" alt="кавычки"></div>
							<div class="quote_text">{{ d.content2 }}</div>
							<div class="quote_name"></div>
						</div>
						{% endif %}
						{% if d.content3 %}
						<p>{{ d.content3 }}</p>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Blog Posts -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_posts d-flex flex-row align-items-start justify-content-between">
						
						{% for n in view.post_last3 %}

						<!-- Blog post -->
						<div class="blog_post">
							{% if n.photo %}
							<div class="blog_image" style="background-image:url({{ n.photo.url }})"></div>
							{% else %}
							<div class="blog_image" style="background-image:url({% static 'onetech/images/no-image.PNG' %})"></div>
							{% endif %}
							<div class="blog_text">{{ n.title|truncatewords:7 }}</div>
							<div class="blog_button"><a href="blog_single.html">Читать далее...</a></div>
						</div>

						{% endfor %}
					</div>
				</div>	
			</div>
		</div>
	</div>



{% endblock content %}
	
	
	