{% extends 'school/base_one.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	Отписка от рассылки
{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/shop_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/shop_responsive.css' %}">

  <!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Вы успешно отписались от рассылки</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            			<ol class="breadcrumb">
            				<li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
            				<li class="breadcrumb-item active" aria-current="page">отписка от рассылки</li>
            			</ol>
        			</nav>
				</div>
			</div>
    	</div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<p>Спасибо за то, что были с нами!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}