{% extends 'school/base_one.html' %}
{% load static %}
{% load webp %}


{% block description %}{{ news.content }}{% endblock %}

{% block title %}
{{ news.title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/shop_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/shop_responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/blog_single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'onetech/styles/blog_single_responsive.css' %}">


	<!-- Single Blog Post -->

	<div class="single_post">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="single_post_title">{{ news.title }}</div>
					<div class="single_post_text">
						<p></p>
						{% if news.photo %}
						<div class="single_post_quote text-center">
							<img width="100%"src="{{ news.photo.url }}" alt="{{ news.title }}">
						</div>
						{% endif %}

						<p>{% autoescape off %}{{ news.content }}{% endautoescape %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog Posts -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_posts d-flex flex-row align-items-start justify-content-between">
						{% for n in view.post_last3 %}

						<!-- Blog post -->
						<div class="blog_post">
							{% if n.photo %}
							<div class="blog_image" style="background-image:url({{ n.photo.url }})"></div>
							{% else %}
							<div class="blog_image" style="background-image:url({% static 'onetech/images/no-image.PNG' %})"></div>
							{% endif %}
							<div class="blog_text">{{ n.title|truncatewords:7 }}</div>
							<div class="blog_button"><a href="{{ n.get_absolute_url }}">Читать далее...</a></div>
						</div>

						{% endfor %}
					</div>
				</div>	
			</div>
		</div>
	</div>
{% endblock %}